@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #05051e;
  font-family: "DM Sans", serif;
  color: #fff;
}
.home {
  background-image: url("./assets/imgs/background-main.png");
  min-height: 70vh;
  background-size: cover;
  background-position: center;
}
.feature {
  background-image: url("./assets/imgs/background-5.png");
  background-size: cover;
  background-position: center;
  padding-block: 60px;
}
.developer {
  background-image: url("./assets/imgs/background-7.png");
  background-size: cover;
  background-position: center;
  padding-block: 60px;
}
.portfolio {
  background-image: url("./assets/imgs/background-8.png");
  background-size: cover;
  background-position: center;
  padding-block: 60px;
}

.bluritem {
  backdrop-filter: blur(10px);
}
